<div class="my-[50%] md:my-[20%]">
    <div class="flex flex-col-reverse md:flex-row items-center mb-[20%] gap-[5rem] px-2 md:mx-[10%]">
        <div class="text-3xl md:text-5xl leading-relaxed relative">
            Hi! I'm
            <span class="text-purple-200 animate-pulse">
                Rashika
            </span>
            <hr class="border-transparent md:my-2">
            <p id="element" class="text-purple-300 duration-500 inline"></p>
            <p
                class="text-lg md:text-2xl text-purple-100/40 mt-4 md:mt-24 md:w-3/4 hover:text-purple-300/50 duration-300">
                Passionate about crafting stunning,
                responsive
                web
                applications that
                delight users.</p>
        </div>
        <span class="text-white/10 absolute left-52 top-64 animate-move "><i
                class="material-icons text-[15rem] hidden lg:block">arrow_back_ios</i>
        </span>

        <div class="w-5/6 sm:w-3/4 md:w-1/2">
            <img class="hover:animate-pulse  hover:scale-110 duration-700 bg-violet-500/10 rounded-full"
                src="./assets/myAvatar-removebg-preview.png"
                style="filter: drop-shadow(0px -10px 5px rgba(200, 112, 251, 0.231));" alt="avatar">
        </div>
    </div>

    <div id="projects" class="my-[50%] md:my-[20%]">
        <app-projects></app-projects>
    </div>
    <div id="experience" class="my-[50%] md:my-[20%]">
        <app-experience></app-experience>
    </div>
    <div id="skills" class="my-[50%] md:my-[20%]">
        <app-skills></app-skills>
    </div>
    <div id="contact" class="my-[50%] md:my-[20%]">
        <app-contact></app-contact>
    </div>
</div>