<div class="h-20 border-b-[0.5px] border-white flex justify-around items-center sticky top-0 bg-zinc-900 z-50">
    <div class="font-moirai-one text-4xl hover:scale-105 duration-300 w-28">
        <a routerLink="/" (click)="scrollToTop()"><img src="./assets/राshiका.svg" alt=""></a>
    </div>
    <div class="w-25 hidden md:block list1">
        <ul class="flex gap-4">
            <li><a class="py-4" routerLink="/" (click)="scrollToTop()">Home</a></li>
            <li><a class="py-4" routerLink="/home" fragment="projects">Projects</a></li>
            <li><a class="py-4" routerLink="/home" fragment="experience">Experience</a></li>
            <li><a class="py-4" routerLink="/home" fragment="skills">Skills</a></li>
            <li><a class="py-4" routerLink="/home" fragment="contact">Contact</a></li>
        </ul>
    </div>
    <div
        class="md:hidden absolute left-0 top-[7rem] rounded-full rounded py-8 list2 border-r-[0.5px] border-zinc-500 shadow-[0_35px_60px_-15px_rgba(106,90,205)]">
        <ul class="flex flex-col gap-8">
            <li><a class="py-4" routerLink="/" (click)="scrollToTop()"><lucide-angular [name]="home" size="18"
                        class="my-icon"></lucide-angular></a></li>
            <li><a class="py-4" routerLink="/home" fragment="projects"><lucide-angular [name]="projects" size="18"
                        class="my-icon"></lucide-angular></a></li>
            <li><a class="py-4" routerLink="/home" fragment="experience"><lucide-angular [name]="experience" size="18"
                        class="my-icon"></lucide-angular></a></li>
            <li><a class="py-4" routerLink="/home" fragment="skills"><lucide-angular [name]="skills" size="18"
                        class="my-icon"></lucide-angular></a></li>
            <li><a class="py-4" routerLink="/home" fragment="contact"><lucide-angular [name]="contact" size="18"
                        class="my-icon"></lucide-angular></a></li>
        </ul>
    </div>
</div>